/* Main STYLES */
$wrapper-width: 1000px;

// COLORS
$app-background-color: #000000;
$navbar_opacity: rgba(11, 11, 14, 0.7);
$navbar: #232323;
$dark: #050d21;
$white: #ffffff;
$gray: #606060;
$links: rgb(242, 242, 242);
$accent: #FFD166;
$accent-hover: #E9BF5D;
$add-dark-blue: linear-gradient(252.85deg, #0e0e25 0%, #0e0e25 100%);
// $blue-gradient: linear-gradient(252.85deg, #006fbf 0%, #7000c0 100%);
$blue-gradient: linear-gradient(252.85deg, #004272 0%, #47007a 100%);

// FONTS
// $font-extraLight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
// $font-extraBold: 800;

// @font-face {
//   font-family: mellanissa;
//   src: url("../fonts/mellanissa.ttf");
// }



$mobile-attention: 500px;
$mobile: 767px;

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 2000px) {
      @content;
    }
  }
  @if $point == lg {
    @media (max-width: 1250px) {
      @content;
    }
  }
  @if $point == md {
    @media (max-width: 820px) {
      @content;
    }
  }
  @if $point == sm {
    @media (max-width: 630px) {
      @content;
    }
  }
  @if $point == xs {
    @media (max-width: 500px) {
      @content;
    }
  }
}